pipeline/pipeline_Lookup.json
{
	"name": "pipeline_Lookup",
	"properties": {
		"activities": [
			{
				"name": "LK_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter_LKDataSet",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LK_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LK_Config').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(string(item().Enabled),'1')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_LKDataSet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_LKDataSet').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append TableNameFiltered",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableNameFiltered",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter_LKTableNameCustomer",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LK_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LK_Config').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(string(item().Name),'Customer')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Enabled Is 1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Filter_LKTableNameCustomer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Filter_LKTableNameCustomer').output.firstrow.enabled,1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Append DataTransfer As False",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DataTransferActive",
								"value": "No"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Append DataTransfer As True",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "DataTransferActive",
								"value": "Yes"
							}
						}
					]
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "Array"
			},
			"TableNameFiltered": {
				"type": "Array"
			},
			"DataTransferActive": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "assignment"
		},
		"annotations": []
	}
}