pipeline/pipeline_Lookup.json
{
	"name": "pipeline_Lookup",
	"properties": {
		"activities": [
			{
				"name": "LK_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "Config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter_TableName",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LK_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LK_Config').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(string(item().name),'Enabled')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Filter_TableName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableNameFiltered",
					"value": ""
				}
			},
			{
				"name": "Append variable2",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "LK_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": ""
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "Array"
			},
			"TableNameFiltered": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "assignment"
		},
		"annotations": []
	}
}